@model IEnumerable<WebMVC.Models.Vendedor>



@{
    ViewData["Title"] = "Vendedores";
}

<h2>@ViewData["Title"]</h2>

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-flatry.css" />  <!--mudando a chamada do tema do bootstrap-->
<link rel="stylesheet" href="~/css/site.css" />


<p>
    <a asp-action="Create" class="btn btn-primary btn-xs">Novo Vendedor</a>
</p>
<table class="table table-bordered table-responsive">
    <thead>
        <tr>
            <th>
                <!--@Html.DisplayNameFor(model => model.Id)-->
                ID

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.BaseSalarial)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNascimento)

            </th>
            <th>Ativo</th>
            <th>Opção</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)

            </td><td>
                @Html.DisplayFor(modelItem => item.Nome)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BaseSalarial)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNascimento)

            </td>
            <td>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1"/>

                </div>

            </td><td>
                @Html.DisplayFor(modelItem => item.Nome)

            </td>
            <td>

                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-default">Editar</a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>



            </td>
        </tr>
        }
    </tbody>
</table>